@font-face {
    font-family: 'open_sanssemibold';
    src: url('../assets/fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
    font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #181411;
    
	padding: 0;
	margin: 0;
	background: #efefef;
}

h1 {
    font-weight: 100;
    font-size: 64px;
}

.loading {
    border-radius: 2px;
    padding: 1em 1.4em;
    background: rgba(0, 0, 0, 0.1);
    margin: 2em auto;
    width: 320px;
}

a {
    color: #000;
}

canvas {
    cursor: pointer;
    max-width: 100%;
    border-radius: 4px;
}

img {
    max-width: 100%;
}

p {
    color: #4e4e4e;
}

.note {
    font-style: italic;
    font-size: 13px;
    margin: 1em 0 0;
}

.demo-container {
    margin: 0 auto;
    max-width: 100%;
    width: 960px;
    text-align: center;
}

.target-image {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.mosaic-container {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    line-height: 0;
}

.controls-container {
    text-align: left;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.control {
    /* outline: 1px solid #f29; */
    margin: 5px;
}

.control pre {
    margin: 0;
}

.control input {
    width: 120px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.control label {
    /* outline: 1px solid #f29; */
    padding: 10px;
    display: inline-block;
    width: 160px;
    text-align: right;
}
